#heading {
  font-family: 'Raleway', sans-serif;
  color: rgb(51, 51, 63);
  font-size: 40px;
  line-height: 72px;
}

/* styling nav bar to make it look better */
.navbar-brand {
  font-family: 'Raleway', sans-serif;
}

.nav-item {
  font-family: 'Raleway', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.col-sm-6 {
  font-family: 'Raleway', sans-serif;
  
  font-size: 14px;
  color: rgb(51, 51, 63);
  /* margin-top: 30px;
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px; */
  border: 5px solid rgb(51, 51, 63);
  background-color: aliceblue;
}

#contact {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 16px;
  color: rgb(51, 51, 63);
  border: 3px solid rgb(51, 51, 63);
  margin-right: 450px;
  margin-left: 450px;
  background-color: aliceblue;
}

.resources {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  color: rgb(51, 51, 63);
  border: 3px solid rgb(51, 51, 63);
  margin-right: 450px;
  margin-left: 450px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  background-color: aliceblue;
}

.form {
  font-family: 'Raleway', sans-serif;
  border: 3px solid rgb(51, 51, 63);
  padding: 20px;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: white;
}

.labels {
  padding-top: 15px;
  padding-bottom: 5px;
}

/* CONTACT PAGE ONLY */
.contact {
  text-align: center;
  padding: 5px;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width:768px) {}