#heading {
  font-family: 'Raleway', sans-serif;
  color: rgb(51, 51, 63);
  font-size: 40px;
  line-height: 72px;
}

/* navbar selectors */
/* styling nav bar to make it look better */
.navbar-brand {
  font-family: 'Raleway', sans-serif;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  background-color: aliceblue;
  border: 3px solid rgb(51, 51, 63);
}

.nav-item {
  font-family: 'Raleway', sans-serif;

}

/* About me (index.html) */
.bio {
  font: 200px;
  text-align: center;
  margin-right: 20px;
}

.bio img {
  height: 600px;
}

.aboutme {
  font-family: 'Raleway', sans-serif;
  margin-right: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 20px;
  color: rgb(51, 51, 63);
  border: 5px solid rgb(51, 51, 63);
  background-color: aliceblue;
}

#title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 70px;
  font-size: 16px;
  color: rgb(51, 51, 63);
  border: 3px solid rgb(51, 51, 63);
  background-color: aliceblue;
}

.resources {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 12px;
  color: rgb(51, 51, 63);
  border: 3px solid rgb(51, 51, 63);
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: aliceblue;
}

/* Portfolio selectors */
#portfolio {
  display: flex;
  flex-direction: column;
  border: 13px solid rgb(51, 51, 63);
  background-color: aliceblue;
}

#portfolio h1 {
  margin: 15px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards img {
  width: 350px;
  height: 300px;
  padding: 7px;
  margin: 7px;
  justify-content: center;
}

.cards img:hover {
  background-color: rgb(0, 0, 82);
  cursor: pointer;
}

.porthead {

}

.container {
  position: relative;
}

.text-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: rgb(51, 51, 63);
  padding-left: 10px;
  padding-right: 10px;
}

/* Contact Form Selectors */
#contact-me {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border: 5px solid rgb(51, 51, 63);
  padding-top: 25px;
  margin: 100px;
}

.h3 {
  font-size: 40px;
}

.contact {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 15px;

}

.contact:focus {
  outline: 0;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width:768px) {}